<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Demo Renuo Ch" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Demo Renuo Ch" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <header>
      <div class="container">
          <div class="row">
            <div class="span6">
              <div class="logo">
                <h1><a href="#">Renuo <span class="color">CMS Demo</span></a></h1>
                <div class="hmeta">Webseitenverwaltung für jedermann</div>
              </div>
            </div>
          </div>
      </div>
    </header>
    <div class="navbar">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </div>
    <div class="content">
    <div class="container">
       <div class="row">
        <div class="span12">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
    </div>
    </div>
    <footer>
        <div class="container">
          <div class="row">
            <div class="widgets">
              <div class="span4">
                <div class="fwidget">
                    <h6>Links</h6>
                    <%= render 'layouts/navigation_items', item_class: FooterNavigationItem %>
                </div>
              </div>
              <div class="span4">
                <div class="fwidget">
                  <h6>Renuo <span class="color">CMS</span></h6>
                  <div class="copy">
                    <p>Copyright &copy; <a href="https://www.renuo.ch">Renuo GmbH</a> - <a href="https://www.renuo.ch/ueber-uns">Über uns</a> | <a href="https://www.renuo.ch/kontakt">Kontakt</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </footer>
  </body>
</html>
