<ul class="nav pull-right">

  <% if user_signed_in? %>
      <li>
        <%= link_to t('admin.misc.log_out'), destroy_user_session_path, :method=>'delete' %>
      </li>
  <% else %>
      <li>
        <%= link_to t('admin.misc.log_in'), new_user_session_path %>
      </li>
  <% end %>
  <% if user_signed_in? %>
      <li>
        <%= link_to t('devise.sessions.edit_account'), edit_user_registration_path %>
      </li>
      <li>
        <%= link_to 'Admin', rails_admin_path, 'data-no-turbolink'=> true %>
      </li>
  <% else %>
      <li>
        <%= link_to t('devise.registrations.registration_label'), new_user_registration_path %>
      </li>
  <% end %>
</ul>